/** CSS STYLE **/
* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}
h1 {
  font-size: 72px;
  margin: 0;
}
h2 {
  font-size: 60px;
  margin: 0;
}
h3 {
  font-size: 34px;
}

.wrapper {
  width: 1110px;
  padding-bottom: 100px;
}
body {
  margin: 0;
}

/*Section 1*/
.section-background-light {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background-color: #F5F4F0;
}
.section-background-light::before {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;
  content: "";
}
.headline {
  display: flex;
}
.orange {
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
  font-size: 72px;
  color: #FE8A02;
}
.header-img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.columns {
  display: flex;
  column-gap: 30px;
  padding-top: 185px;
}
.column-1 {
  flex: 1;
}
.column-2 {
  flex: 1;
}
.btn-header {
  padding: 12px 24px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #FE8A02;
  color: #FFFFFF;
  border: none;
  margin-top: 14px;
}

/* Section-2 (video) */

.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.video-headline {
  text-align: center;
  margin-bottom: 30px;
}
.orange-h2 {
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
  font-size: 60px;
  color: #FE8A02;
}
.video-description {
  margin: 30px 0;
}
.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/*Section 3 (navigation)*/

.nav-section {
  display: flex;
  justify-content: center;
  background-color: #42413C;
  padding-top: 100px;
}
.cards {
  display: flex;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.card {
  box-sizing: border-box;
  width: 350px;
  height: 350px;
  text-decoration: none;
  padding: 24px;
  background-color: #F5F4F0;
} 
.nav-title {
  box-sizing: border-box;
  width: 350px;
  height: 350px;
  text-decoration: none;
}
.nav-title > span {
  font-size: 52px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}
.white-52px {
  color: #FFFFFF;
}
.orange-52px {
  color: #FE8A02;
}
.number-card {
  margin: 0;
  padding-bottom: 40px;
  font-size: 64px;
  font-family: 'Neucha';
  line-height: 1;
}
.name-card {
  font-family: 'Neucha', cursive;
  font-size: 34px;
  color: #FE8A02;
  margin: 0;
  padding-bottom: 16px;
  line-height: 41px;
}
.discription-card {
  margin: 0;
  font-size: 16px;
}

/*Sections 4-8*/
/*Light-theme*/
.effect-headline {
  display: flex;
  column-gap: 30px;
}
.img-effects {
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}
.topic-1-light {
  margin: 0;
  font-family: 'Neucha';
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #908D8B;
}
.name-effect-light {
  font-weight: 400;
}
.topic-2-light {
  font-family: 'Neucha';
  font-weight: normal;
  font-size: 34px;
  line-height: 41px;
  color: #2A2626;
}
.description-title-light {
  background-color: #B09A81;
  margin-top: 100px;
  margin-bottom: 20px;
}
.description-title-light > h4 {
  font-family: 'Open Sans';
  font-weight: 700;
  line-height: 17px;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  padding: 5px 10px
}
.description-blocks {
  display: flex;
  column-gap: 30px;
}
.description-text-light-block {
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 25px;
  font-size: 16px;

  flex: 1;
  margin: 0;
}

/*Dark theme*/
.section-background-dark {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  vertical-align: middle;
  background-color: #B09A81;
}
.section-background-dark::before {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;
  content: "";
}
.topic-1-dark {
  margin: 0;
  font-family: 'Neucha';
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #D7CCC0;
}
.name-effect-dark {
  color: #FFFFFF;
  font-weight: 400;
}
.topic-2-dark {
  font-family: 'Neucha';
  font-weight: normal;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
}
.description-title-dark {
  background-color: #FFFFFF;
  margin-top: 100px;
  margin-bottom: 20px;
}
.description-title-dark > h4 {
  font-family: 'Open Sans';
  font-weight: 700;
  line-height: 17px;
  font-size: 14px;
  text-transform: uppercase;
  color: #B09A81;
  padding: 5px 10px
}
.description-text-dark-block {
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 25px;
  font-size: 16px;
  color: #FFFFFF;

  flex: 1;
  margin: 0;
}

/*Footer*/