/** CSS STYLE **/
* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
h2 {
  font-size: 34px;
}

.w-1110px {
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

/*Section 1 */
.header-section {
  position: relative;
  /* width: 1440px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-section::before {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url(/images/background.png);
  background-color: #D7CCC0;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;
  content: "";
}
.header-headline {
  position: relative;

  display: flex;
  align-items: center;
  padding-top: 100px;
}
.orange {
  font-size: 72px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
  color: #FE8A02;
}
.header-img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}
.header-columns {
  display: flex;
  column-gap: 30px;
}
.column-1 {
  flex: 1;
}
.column-2 {
  flex: 1;
}
.header-text-style {
}
.header-btn {
  padding: 12px 24px;
  font-weight: bold;
  background-color: #FE8A02;
  border: none;
}
.header-btn a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}




